<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>873306742347-9s5dsi7j9i31mmpudespcf1hmasc1ok6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873306742347-9s5dsi7j9i31mmpudespcf1hmasc1ok6</string>
	<key>API_KEY</key>
	<string>AIzaSyDwCaFxSvuFC-0PfV3zbH2eUno1iXFwrnE</string>
	<key>GCM_SENDER_ID</key>
	<string>873306742347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterstudyjamweek2</string>
	<key>PROJECT_ID</key>
	<string>flutter-study-jam-99ec1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-study-jam-99ec1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873306742347:ios:a817e2f472707f31</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-study-jam-99ec1.firebaseio.com</string>
</dict>
</plist>